body {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #b2b2b2;
  color: #333333;
}

.page {
  width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 500px auto;
  column-gap: 10px;
}

.wrapper {
  grid-column: -2 / -1;
  grid-row: 1 / -1;
}